name: Release

on:
  push:
    branches:
      - master

jobs:
  release:
    name: 'Release to GitHub'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
# Go setup
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ^1.16
        id: go

      - name: Get dependencies
        run: make get-dependencies

# Go test
      - name: Ensure that all files are properly formatted
        run: |
          FILES=$(gofmt -s -l .)
          if [ -n "${FILES}" ]; then
              printf "Following files are not formatted: \n%s" "$FILES"
              exit 1
          fi

      - name: GO vet
        run: make vet

      - name: Test
        run: make test

      - name: Test building
        run: make build

# Prepare release
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 13
      - name: Add execution plugin
        run: npm install @semantic-release/exec
      - name: Release to GitHub
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        run: npx semantic-release
